<section id="blueprints">
  <div class="container">   
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card blueprint sticky-action">
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">This section is in progress.</span>
              <p>I'm working on getting this thing done asap, as of now making it offline ready and responds to slow connections is the utmost priority.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>