  <footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Get to know NoteApp</h5>
          <p class="grey-text text-lighten-4">There is a lot to do, I made this to give demo to my team, on offline first approach. Get in touch at <a href="mailto:chetanlakhanpal@gmail.com" ng-click="ping('profile')">chetanlakhanpal@gmail.com</a></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with &hearts; by <a class="light-blue-accent-3-text text-lighten-3" href="https://www.linkedin.com/in/chetan-lakhanpal" target="_blank" ng-click="ping('profile')">Chetan Lakhanpal</a>
      </div>
    </div>
  </footer>