 <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a ui-sref="home" class="brand-logo">
          <h4 class="gray-text" style="font-size: 0.6em;">NoteApp</h4>
        </a>        
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <!-- Navbar menu -->
        <ul class="right hide-on-med-and-down">
          <li class="link" ui-sref-active="active"><a ui-sref="wall">Public Wall</a></li>          
          <li class="link" ui-sref-active="active"><a ui-sref="dashboard">My Dashboard</a></li>
          <li class="link" ui-sref-active="active"><a ui-sref="register">Register</a></li>
          <li><a href="#" class="waves-effect waves-light btn  light-blue accent-3  white-text " id="start-now-navbar">Login</a>
          </li>     
        </ul>

        <!-- Navbar menu mobile -->
        <ul class="side-nav" id="mobile-demo" style="transform: translateX(-100%);">
          <li ui-sref-active="active"><a ui-sref="Wall">Wall</a></li>    
          <li ui-sref-active="active"><a ui-sref="dashboard">Dashboard</a></li>
          <li ui-sref-active="active"><a ui-sref="register">Register</a></li>      
          <li><a href="#">Login</a></li>   
        </ul>

      </div>
    </div>
  </nav>
</div>