<!-- #00b0ff light-blue accent-3 -->
<!-- #212121 grey darken-4 -->
<section id="splash-blue" class="z-depth-1">
  <div class="container">

   <!-- Tablet -->
   <div class="row hide-on-small-only">
    <div class="col m6 s12 l6">
        <h4 class="white-text wow fadeIn">An offline web app that feels Native.</h4>
        <h5 class="white-text wow fadeIn" data-wow-delay="0.25s">NoteApp removes the hassle of installing the app, and gets updated automatically.</h5>
        <div class="row">
          <div class="col m5 s12">
            <a href="#modal1" class="btn waves-effect waves-light modal-trigger btn-home  wow fadeIn" data-wow-delay="0.5s">
              <span >Start Now</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col m6 s12 l6 wow fadeIn" data-wow-delay="0.25s">
        <img src="images/img-1.png">
         <!-- <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img src="images/img-1.png"></a>
            <a class="carousel-item" href="#two!"><img src="images/img-1.png"></a>
          </div> -->
      </div>
   </div>
          
    <!-- Mobile -->
    <div class="row hide-on-med-and-up center-align">
      <div class="col s12">
        <h4 class="white-text main-title wow fadeIn">An offline web app that feels Native.</h4 cla>
        <h5 class="white-text">NoteApp removes the hassle of installing the app, and gets updated automatically.</h5>
        
        <div class="col s8 offset-s2 wow fadeIn" data-wow-delay="0.25s">
          <img src="images/img-1.png">
          <a href="#modal1" class="btn waves-effect waves-light btn-home modal-trigger">
            <span>Start Now</span>
          </a>
        </div>
      </div>
    </div>  
  </div>  
</section>
<section id="benefits">  
  <div class="container">  
    <h4 class="center-align with-subtitle wow fadeIn" data-wow-delay="0.75s">How Progressive Web Apps are better than Native in most of the cases.</h4>
    <h5 class="subtitle center-align wow fadeIn">Offline apps eliminates the need to installation and updation of app via play store each and every time. Downloading the big size compiled file just to fix few bugs doesn't make much sense. Apart from offline support PWAs also comes up with awesome features such as Background Sync, Push Notification.</h5> 
  </div>
</section>