<section id="blueprints">
  <div class="container">   
      <div class="row">
        <h5>Some random data as of now. Will add functionality after the CC verification.</h5>
        <div class="col s12 m6 l4">
          
          <div ng-repeat="note in notes" class="card blueprint sticky-action">
            <div class="card-content">
              <span class="card-title grey-text text-darken-4" ng-bind="::note.title"></span>
              <p ng-bind="::note.content"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>